{{ 'featured-collection.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .heading1 {
    font-size: {{ section.settings.font_size }}px
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
{%- endstyle -%}

<section class="box-section section1 section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="box3">
      <div class="box-heading">
        {%- if section.settings.title != blank -%}
          <h2 class="heading heading1">{{ section.settings.title }}</h2>
        {%- endif -%}
      </div>
      <div class="section3-content">
        {%- for product in section.settings.collection.products -%}

          <div class="section3-item" id="Slide-{{ section.id }}-{{ forloop.index }}">
            {% render 'card-product'
             , card_product: product
             , media_aspect_ratio: section.settings.image_ratio
             , show_secondary_image: section.settings.show_secondary_image
             , show_vendor: section.settings.show_vendor
             , show_rating: section.settings.show_rating
             , show_quick_add: section.settings.enable_quick_add
             , section_id: section.id
             %}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>


{% schema  %}
  {
    "name": "featured-collection",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "FEATURED PRODUCT",
        "label": "Heading"
      },
      {
        "type": "range",
        "id": "font_size",
        "min": 10,
        "max": 100,
        "step": 1,
        "default": 30,
        "unit": "px",
        "label": "font size"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "color-1",
            "label": "color 1"
          }, {
            "value": "color-2",
            "label": "color 2"
          }, {
            "value": "color-3",
            "label": "color 3"
          }
        ],
        "default": "color-1",
        "label": "color"
      }, {
        "type": "header",
        "content": "padding"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "padding top",
        "default": 100
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "padding bottom",
        "default": 100
      }
    ],
    "presets": [
      {
        "name": "featured collection"
      }
    ]
  }
{% endschema %}